{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1 class="text-center m-4">Information de livraison</h1>
    <div class="row">
        <div class="col-8">
            <div class="row">
                {{ form_start(form) }}
                {{ form_row(form.fullname) }}
                {{ form_row(form.address) }}
                {{ form_row(form.zipCode) }}
                {{ form_row(form.city) }}

                <button type="submit" class="btn btn-success" >Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                {% include('purchase/order.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
